/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Стиль для логотипу у navbar */
a.navbar-brand {
    white-space: normal;
    text-align: center; 
    word-break: break-all; 
}

/* Загальний стиль для посилань */
a {
    color: #0077cc; 
}

/* Стиль для кнопок primary */
.btn-primary {
    color: #fff; 
    background-color: #1b6ec2;
    border-color: #1861ac; 
}

/* Стиль для активних елементів у nav-pills */
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff; 
    background-color: #1b6ec2; 
    border-color: #1861ac;
}

/* Стиль для верхньої межі */
.border-top {
    border-top: 1px solid #e5e5e5; 
}

/* Стиль для нижньої межі */
.border-bottom {
    border-bottom: 1px solid #e5e5e5; 
}

/* Додаємо легку тінь для ефекту об'єму */
.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Стиль для кнопки прийняття політики */
button.accept-policy {
    font-size: 1rem; 
    line-height: inherit; 
}

/* Стиль для футера */
.footer {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    white-space: nowrap; 
    line-height: 60px; 
}

