@{
    ViewData["Title"] = "Стор3";
    // Задаємо фон для Стор3 через ViewBag
    ViewBag.BackgroundUrl = "https://www.baltana.com/files/wallpapers-17/Yosemite-Valley-California-USA-Wallpaper-44410.jpg";
}

<!-- Основний контейнер для вмісту сторінки -->
<div class="container my-5">
    <h2 class="mb-3">Сторінка 3</h2>
    <p>Це Стор3. Перейдіть до наступної сторінки.</p>
    <!-- Кнопка для переходу на Стор4 -->
    <a asp-controller="Page4" asp-action="Index" class="btn btn-primary">Перейти на Стор4</a>
</div>
